<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>天天生鲜-用户中心</title>
	<link rel="stylesheet" type="text/css" href="../../static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="../../static/css/main.css">
</head>
<body>
	<div class="header_con">
		<div class="header">
			<div class="welcome fl">欢迎[{{ request.session.currentUser }}]来到天天生鲜!</div>
			<div class="fr">

				<div class="login_info fl">
					欢迎您：<em>{{request.session.currentUser}}</em>
					<a href="/user/logout">退出</a>
				</div>

				<div class="user_link fl">
					欢迎您：<em>{{request.session.currentUser}}</em>
					<span>  </span>
					<a href="/user/logout">退出</a>
					<span>|</span>
					<a href="{%url 'user:user_center_info'%}">用户中心</a>
					<span>|</span>
					<a href="/cart/cart/">我的购物车</a>
					<span>|</span>
					<a href="/order/show/">我的订单</a>
				</div>
			</div>
		</div>		
	</div>

	<div class="search_bar clearfix">
		<a href="/goods/index/" class="logo fl"><img src="../../static/images/logo.png"></a>
		<div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;用户中心</div>
		<div class="search_con fr">
			<form action="/goods/find/" method="get">
			<input type="text" class="input_text fl" name="keyword" {%if keyword%}value="{{keyword}}"{%else%} placeholder="搜索商品"{%endif%}>
			<input type="submit" class="input_btn fr" name="" value="搜索">
			</form>
		</div>		
	</div>

	<div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>用户中心</h3>
			<ul>
				<li><a href="/user/info/" class="active">· 个人信息</a></li>
				<li><a href="/order/show/">· 全部订单</a></li>
				<li><a href="/user/site/">· 收货地址</a></li>
			</ul>
		</div>
		<div class="right_content clearfix">
				<div class="info_con clearfix">
				<h3 class="common_title2">基本信息</h3>
						<ul class="user_info_list">
							<li><span><b>用户名：</b></span>{{user.uname}}</li>
							<li><span><b>联系方式：</b></span>{{user.uphone}}</li>
							<li><span><b>联系地址：</b></span>{{user.uzipcode}}</li><br>
						</ul>
				</div>
				<button><a href="/user/insert/">添加个人信息</a></button>
				<span>                                          			        </span>
				<button><a href="/user/update/">修改个人信息</a> </button>
				<h3 class="common_title2">最近浏览</h3>
				<div class="has_view_list">
					<ul class="goods_type_list clearfix">

                                {% for goods in goods_list %}
                                <li class="particulars2_1">
                                       <a href="/goods/{{ goods.id }}/">
										   <img src="/static/media/{{goods.gpic }}" alt=""></a>
                                        <a href="/goods/{{ goods.id }}/"><span>{{ goods.gtitle }}</span></a>
										<div class="operate">
                                        <span class="price">￥{{ goods.gprice }}</span>
											<span class="unit_price">{{ goods.gprice }}/{{ goods.gunit }}</span>
											<a href="/shopping_cart/add/{{ goods.id }}/1">
												<img src="/static/image/shop_cart.png" alt="" class="shop_cart"></a>

                                {% endfor %}
			</ul>
		</div>
		</div>
	</div>



	<div class="footer">
		<div class="foot_link">
			<a href="#">关于我们</a>
			<span>|</span>
			<a href="#">联系我们</a>
			<span>|</span>
			<a href="#">招聘人才</a>
			<span>|</span>
			<a href="#">友情链接</a>		
		</div>
		<p>CopyRight © 2016 北京天天生鲜信息技术有限公司 All Rights Reserved</p>
		<p>电话：010-****888    京ICP备*******8号</p>
	</div>
	
</body>
</html>