<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>删除</title>
</head>
<body>
    <table>
     <h1>输入学生姓名删除</h1>
             <form method="post">

                  <tr>
                  <td><label for="name">姓名：</label></td>
                  <td> <input type="text" id="name" name="name" placeholder="输入学生姓名"/></td>
                  </tr>
                 <tr>
                  <th> <input type="submit" value="删除学生信息"></th>
                  <th> <a href="http://127.0.0.1:8000/app1/url_hello">返回主页面</a></th>
                 </tr>
             </form>
  </table>

            <br>
</body>
</html>