<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>增加学生信息</title>
</head>
<body>
     <table>
         <form  method="post">
                 <h2>输入学生的信息</h2>
                  <tr>
                  <td><label for="name">姓名：</label></td>
                  <td> <input type="text" id="name" name="Name" /></td>
                  </tr>
              <tr>
                  <td><label for="stu1">年龄：</label></td>
                  <td><input type="text"id="stu1" name="Age" /></td>
              </tr>
              <tr>
                  <td><label for="stu2">学号：</label></td>
                  <td><input type="text"id="stu2" name="Number" /></td>
              </tr>
              <tr>
                  <td><label for="stu4">籍贯：</label></td>
                  <td><input type="text" id="stu4" name="Origin" /></td>
              </tr>
               <tr>
                   <td><label for="stu5">专业：</label></td>
                   <td> <input type="text"id="stu5" name="Learn" /></td> </tr>
              <tr>
                  <td><label for="stu6">班级：</label></td>
                  <td><input type="text"id="stu6" name="Class" /></td> </tr>

             <tr>
                 <th> <input type="submit" value="录入学生信息"></th>
                 <th> <a href="http://127.0.0.1:8000/app1/url_hello">返回</a></th>
             </tr>
         </form>
         </table>
</body>
</html>