<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>功能界面</title>
</head>
<body>
<div style="text-align: center">
    <h1><b>欢迎来到智能学生信息管理系统功能界面</b></h1>
    <a href="http://127.0.0.1:8000/app1/url_done">录入学生信息</a><br/>
    <a href="http://127.0.0.1:8000/app1/url_delet">删除学生信息</a><br/>
    <a href="http://127.0.0.1:8000/app1/url_check">查询学生信息</a><br/>
    <a href="http://127.0.0.1:8000/app1/url_rewiter">修改学生信息</a><br/>

<h2><a href="http://127.0.0.1:8000/app1/url_login">退出系统</a></h2>

</div>
</body>
</html>