<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户登陆</title>
</head>
<body>
    <h1>欢迎来到智能学生信息管理系统</h1>
     <table>
<div style="text-align: center">
         <form  method="post">
               <tr>
                    <p >
                   <th>用户名</th>
                   <td><input type="text" name="username"placeholder="用户名"></td>
                   </p>
                   <p>
                    <th>密 码</th>
                   <td><input type="password" name="password"placeholder="密码"/></td>
                   </p>
               </tr>
             <tr>
                 <th> <input type="submit" value="登陆"></th>
                 <th> <a href="http://127.0.0.1:8000/app1/url_regist">注册</a></th>
             </tr>
         </form>
</div>
     </table>
</body>
</html>