<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
     <h1>欢迎来到注册界面</h1>

     <table>
         <tr>
             <th>用 户 名</th>
             <th>密   码</th>
             <th>确认密码</th>

         </tr>
         <form  method="post">
               <tr>
              <td> <input type="text" name="username"/></td>
              <td><input type="password" name="password"/></td>
              <td><input type="password" name="password1"/></td>
               </tr>
               <tr><br>
                   <th> <input type="submit" value="注册"></th>
               </tr>
         </form>

     </table>
</body>

</html>