<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <table><div style="text-align: center">

             <form method="post">
               <tr>  <h3>输入要修改的学生姓名</h3></tr>
                  <tr>
                  <td><label for="name">姓名：</label></td>
                  <td> <input type="text" id="name" name="name" placeholder="输入学生姓名"/></td>
                  </tr>
                  <td><h3>输入您要修改的学生信息</h3></td>
                  <tr>
                  <td><label for="name1">姓名：</label></td>
                  <td> <input type="text" id="name1" name="name1"></td>
                  </tr>
              <tr>
                  <td><label for="stu2">学号：</label></td>
                  <td><input type="text"id="stu2" name="number" ></td>
              </tr>
               <tr>
                   <td><label for="stu3">年龄：</label></td>
                   <td> <input type="text" id="stu3" name="age"></td>
               </tr>
              <tr>
                  <td><label for="stu4">籍贯：</label></td>
                  <td><input type="text" id="stu4" name="origin" ></td>
              </tr>
               <tr>
                   <td><label for="stu5">专业：</label></td>
                   <td> <input type="text"id="stu5" name="learn" ></td> </tr>
              <tr>
                  <td><label for="stu6">班级：</label></td>
                  <td><input type="text"id="stu6" name="class" }></td> </tr>
             <tr>
                 <tr>
                  <th> <input type="submit" value="修改学生信息"></th>
                  <th> <a href="http://127.0.0.1:8000/app1/url_hello">返回主页面</a></th>
                 </tr>

             </form>
</div>
  </table>
</body>
</html>