<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<meta charset="utf-8" />

<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

<title>巨山病院</title>

<meta name="keywords" content="" />

<meta name="description" content="" />

<meta content="yes" name="apple-mobile-web-app-capable" />

<meta content="black" name="apple-mobile-web-app-status-bar-style" />

<meta content="telephone=no" name="format-detection" />

<link rel="stylesheet" type="text/css" href="/static/css/lib.css" />

<link rel="stylesheet" type="text/css" href="/static/css/style.css" />

<link rel="stylesheet" type="text/css" href="/static/css/999.css" />

<script type="text/javascript" src="/static/js/jquery-1.11.3.min.js"></script>

<script type="text/javascript" src="/static/js/org1470120033.js" data-main="baseMain"></script>

<meta http-equiv="mobile-agent" content="format=xhtml;url=/m/list.php?tid=6">

<script type="text/javascript">if(window.location.toString().indexOf('pref=padindex') != -1){}else{if(/AppleWebKit.*Mobile/i.test(navigator.userAgent) || (/MIDP|SymbianOS|NOKIA|SAMSUNG|LG|NEC|TCL|Alcatel|BIRD|DBTEL|Dopod|PHILIPS|HAIER|LENOVO|MOT-|Nokia|SonyEricsson|SIE-|Amoi|ZTE/.test(navigator.userAgent))){if(window.location.href.indexOf("?mobile")<0){try{if(/Android|Windows Phone|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)){window.location.href="/m/list.php?tid=6";}else if(/iPad/i.test(navigator.userAgent)){}else{}}catch(e){}}}}</script>

</head>



<body class="nobanner">

<div id="header">

  <div class="content"> <a href="/" id="logo"></a>

    <ul id="nav">

        <li class="navitem"><a  class='active' href="/">首页</a></li>

        <li class="navitem"><a  href="#" >门诊科室</a></li>

        <li class="navitem"><a  href="/pat_login" >在线挂号</a></li>

        <li class="navitem"><a  href="/about" >医院简介</a></li>

        <li class="navitem"><a  href="/team" >医师团队</a></li>

        <li class="navitem"><a  href="/admin/" >后台管理</a></li>

        <li class="navitem"><a  href="/doc_login/" >医生登录</a></li>

    </ul>

    <div class="clear"></div>

  </div>

  <a id="headSHBtn" href="javascript:;"><i class="fa fa-bars"></i></a> </div>

<div id="sitecontent">

  <div class="npagePage Pageyemian" id="page_none">

    <div class="content">

      <div class="header">

        <p class="title">医院简介</p>

      </div>

      <div class="fw postbody">

        <div>

	优爱精神 &mdash;&mdash; 严谨、求精、勤奋、奉献</div>

<div>

	&nbsp;</div>

<div>

	&ldquo;严谨、求精、勤奋、奉献&rdquo;协和精神是协和的核心价值观，是协和医院文化精髓。协和文化以崇尚科学、崇尚知识、专业态度和专业精神为其思想内核，又具有深厚的人文特征，表现方式凝重、内敛、不张扬、戒浮躁，重视口碑效应。具体体现在协和人身上就是科学严谨的作风、浓厚的人文传统与学术的包容性。正如董炳琨老院长所说，协和精神，追求其渊源，则是两大主意识流汇合的结晶。一是忠于科学的事业精神，一是忠于人民的奉献精神。<br />

	<br />

	<div>

		高质量</div>

	<div>

		AB模版网工作室认真对待每一个客户，我们不用口头语言来吹捧我们的优秀，成百上千的案例，见证着我们成长。</div>

	<div>

		&nbsp;</div>

	<div>

		高效率</div>

	<div>

		直接与设计师、程序师沟通！我们崇尚速度，喜欢感受风驰电掣的狂飙，所以在3-5个工作日内我们为您提供最完美的方案，我们拒绝拖沓!</div>

	<div>

		&nbsp;</div>

	<div>

		高诚信</div>

	<div>

		客户是什么，他们在想什么，需要我们做什么，这些问题一直困扰着我们。但是经过几年的实践，发现做好客户关系其实很容易，那就是真诚！</div>

	<div>

		&nbsp;</div>

	<div>

		不参加无偿比稿，我们认为深入的沟通和了解在任何时候都比所谓的&ldquo;比稿&rdquo;重要的多！对我们来说，时间和精力都是有限的资源，将更多的心思放在已签约的，相互信赖的客户与项目身上，为其提供更好的设计与服务，这是我们的义务，更是责任所在。</div>

	<div>

		&nbsp;</div>

	<div>

		所谓&ldquo;先出个首页了解一下你们的实力&rdquo;，&ldquo;我们的情况不一样，怕你们设计不好&rdquo;之类的托辞，我们恕不能接受。大量成功的案例足以说明我们的实力和水准，如果我们的案例、业绩、专业精神，任不放心足以托付的话，那只能说明一个问题：我们彼此需要下一个合适的合作伙伴！&nbsp;</div>

</div>

<br />



      </div>

      <div id="pages"></div>

    </div>

  </div>

</div>

<div id="footer">

  <p>Copyright &copy; 2002-2011 AB模板网 版权所有　<a class="beian" href="http://www.miitbeian.gov.cn/" style="display:inline; width:auto; color:#8e8e8e" target="_blank">苏ICP12345678</a></p>

</div>

</body>

</html>