<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<meta charset="utf-8" />

<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

<title>巨山病院 </title>

<meta name="keywords" content="健康,医学部," />

<meta name="description" content="本科技术力量和整体水平在全国核医学科中处于领先地位，尤其在呼吸核医学方面有独特的优势。 目前开展的临床诊疗项目包括" />

<meta content="yes" name="apple-mobile-web-app-capable" />

<meta content="black" name="apple-mobile-web-app-status-bar-style" />

<meta content="telephone=no" name="format-detection" />

<link rel="stylesheet" type="text/css" href="css/lib.css" />

<link rel="stylesheet" type="text/css" href="css/style.css" />

<link rel="stylesheet" type="text/css" href="css/999.css" />

<script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>

<script type="text/javascript" src="js/org1470120033.js" data-main="baseMain"></script>

<meta http-equiv="mobile-agent" content="format=xhtml;url=/m/view.php?aid=17">

<script type="text/javascript">if(window.location.toString().indexOf('pref=padindex') != -1){}else{if(/AppleWebKit.*Mobile/i.test(navigator.userAgent) || (/MIDP|SymbianOS|NOKIA|SAMSUNG|LG|NEC|TCL|Alcatel|BIRD|DBTEL|Dopod|PHILIPS|HAIER|LENOVO|MOT-|Nokia|SonyEricsson|SIE-|Amoi|ZTE/.test(navigator.userAgent))){if(window.location.href.indexOf("?mobile")<0){try{if(/Android|Windows Phone|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)){window.location.href="/m/view.php?aid=17";}else if(/iPad/i.test(navigator.userAgent)){}else{}}catch(e){}}}}</script>

</head>

<body class="nobanner">

<div id="header">

  <div class="content"> <a href="/" id="logo"><img src="images/logo.png" height="40" /></a>

    <ul id="nav">

      <li class="navitem"><a  class='active' href="index.html">首页</a></li>

      <li class="navitem"><a  href="keshi.html" >门诊科室</a>

        <ul class="subnav">

          

          <li><a href="keshi.html">在线挂号</a></li>

          

          <li><a href="keshi.html">手术科室</a></li>

          

          <li><a href="keshi.html">诊断科室</a></li>

          

          <li><a href="keshi.html">其他科室</a></li>

          

        </ul>

      </li><li class="navitem"><a  href="tese.html" >医疗特色</a>

        <ul class="subnav">

          

        </ul>

      </li><li class="navitem"><a  href="about.html" >医院简介</a>

        <ul class="subnav">

          

          <li><a href="#">企业文化</a></li>

          

          <li><a href="#">发展历程</a></li>

          

        </ul>

      </li><li class="navitem"><a  href="team.html" >医师团队</a>

        <ul class="subnav">

          

        </ul>

      </li><li class="navitem"><a  href="news.html" >新闻动态</a>

        <ul class="subnav">

          

          <li><a href="#">院内新闻</a></li>

          

          <li><a href="#">行业新闻</a></li>

          

        </ul>

      </li><li class="navitem"><a  href="contact.html" >联系我们</a>

        <ul class="subnav">

          

        </ul>

      </li>

    </ul>

    <div class="clear"></div>

  </div>

  <a id="headSHBtn" href="javascript:;"><i class="fa fa-bars"></i></a> </div>

<div id="sitecontent">

  <div class="npagePage " id="npagePage">

    <div class="content">

      <div id="projectwrap" class="fw">

        <div id="projectbody">

          <img alt="" src="images/1-1F5041U910612.jpg" style="width: 1000px; height: 667px;" />

          <div class="clear"></div>

          <div class="postbody"></div>

        </div>

        <div id="projectinfo">

          <div id="projectih">

            <div class="header">

              <p class="title">健康医学部</p>

              <p class="subtitle"></p>

              <div class="description">

                <p style="white-space: normal;">本科技术力量和整体水平在全国核医学科中处于领先地位，尤其在呼吸核医学方面有独特的优势。 目前开展的临床诊疗项目包括</p>

                <p style="white-space: normal;"><br />

                </p>

                <p style="white-space: normal;"><a href="http://wpa.qq.com/msgrd?v=3&uin=9490489&site=qq&menu=yes" target="_blank">预约挂号</a></p>

              </div>

            </div>

          </div>

          <div class="clear"></div>

        </div>

        <div id="projectshow">

          <div id="projectib">

            <div class="projectitem"> <a href="/a/keshi/k4/17.html" target="_blank"><img src="images/1-1F5041UT40-L.jpg" />

              <div class="project_info">

                <div>

                  <p class="title">健康医学部</p>

                </div>

              </div>

              </a> </div>

<div class="projectitem"> <a href="/a/keshi/k4/14.html" target="_blank"><img src="images/1-1F5041U5040-L.jpg" />

              <div class="project_info">

                <div>

                  <p class="title">医疗技术部</p>

                </div>

              </div>

              </a> </div>



          </div>

        </div>

        <div class="clear"></div>

      </div>

    </div>

  </div>

</div>

<div id="footer">

  <p>Copyright &copy; 2002-2011 AB模板网 版权所有　<a class="beian" href="http://www.miitbeian.gov.cn/" style="display:inline; width:auto; color:#8e8e8e" target="_blank">苏ICP12345678</a></p>

</div>

</body>

</html>