<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<meta charset="utf-8" />

<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

<title>巨山病院</title>

<meta name="keywords" content="" />

<meta name="description" content="" />

<meta content="yes" name="apple-mobile-web-app-capable" />

<meta content="black" name="apple-mobile-web-app-status-bar-style" />

<meta content="telephone=no" name="format-detection" />

<link rel="stylesheet" type="text/css" href="/static/css/lib.css" />

<link rel="stylesheet" type="text/css" href="/static/css/style.css" />

<link rel="stylesheet" type="text/css" href="/static/css/999.css" />

<script type="text/javascript" src="/static/js/jquery-1.11.3.min.js"></script>

<script type="text/javascript" src="/static/js/org1470120033.js" data-main="baseMain"></script>

<meta http-equiv="mobile-agent" content="format=xhtml;url=/m/list.php?tid=9">

<script type="text/javascript">if(window.location.toString().indexOf('pref=padindex') != -1){}else{if(/AppleWebKit.*Mobile/i.test(navigator.userAgent) || (/MIDP|SymbianOS|NOKIA|SAMSUNG|LG|NEC|TCL|Alcatel|BIRD|DBTEL|Dopod|PHILIPS|HAIER|LENOVO|MOT-|Nokia|SonyEricsson|SIE-|Amoi|ZTE/.test(navigator.userAgent))){if(window.location.href.indexOf("?mobile")<0){try{if(/Android|Windows Phone|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)){window.location.href="/m/list.php?tid=9";}else if(/iPad/i.test(navigator.userAgent)){}else{}}catch(e){}}}}</script>

</head>



<body>

<div id="header">

  <div class="content"> <a href="/" id="logo"></a>

    <ul id="nav">

        <li class="navitem"><a  class='active' href="/">首页</a></li>

        <li class="navitem"><a  href="#" >门诊科室</a></li>

        <li class="navitem"><a  href="/pat_login" >在线挂号</a></li>

        <li class="navitem"><a  href="/about" >医院简介</a></li>

        <li class="navitem"><a  href="/team" >医师团队</a></li>

        <li class="navitem"><a  href="/admin/" >后台管理</a></li>

        <li class="navitem"><a  href="/doc_login/" >医生登录</a></li>

        </ul>


        <ul class="subnav"></ul>

      </li>

    </ul>

    <div class="clear"></div>

  </div>

  <a id="headSHBtn" href="javascript:;"><i class="fa fa-bars"></i></a> </div>

<div id="sitecontent">

  <div class="npagePage Pageteam">

    <div id="banner">

      <div style="background-image:url(/static/style/images/team.jpg);"></div>

    </div>

    <div class="content">

      <div class="header">

        <p class="title">医师团队</p>

        <p class="subtitle"></p>

      </div>

      <div id="teamlist">

        <div class="wrap">

          <div class="teamitem"> <a href="#"><img src="/static/images/lishizhen.jpg" width="320" height="320" />

            <div class="wrap">

              <div> <span class="h"></span> <span class="v"></span> </div>

            </div>

            </a>

            <div class="teaminfo">

              <p class="title"><a href="#">李时珍</a></p>

              <p class="subtitle">中草药医师</p>

              <p class="description">李时珍自1565年起，先后到武当山、庐山、茅山、牛首山及湖广、安徽、河南、河北等地收集药物标本和处方，并拜渔人、樵夫、农民、车夫、药工、捕蛇者为师，参考历代医药等方面书籍925种，考古证今、穷究物理”，记录上千万字札记，弄清许多疑难问题，历经27个寒暑，三易其稿，于明万历十八年（1590年）完成了192万字的巨著《本草纲目》，此外对脉学及奇经八脉也有研究。著述有《奇经八脉考》《濒湖脉学》等多种。被后世尊为 “药圣” </p>

            </div>

            <a href="#" target="_blank" class="details">more<i class="fa fa-angle-right"></i></a> </div><div class="teamitem"> <a href="#"><img src="/static/images/1-1F5041Z0100-L.png" width="320" height="320" />

            <div class="wrap">

              <div> <span class="h"></span> <span class="v"></span> </div>

            </div>

            </a>

            <div class="teaminfo">

              <p class="title"><a href="#">神农</a></p>

              <p class="subtitle">炎帝，曾尝百草</p>

              <p class="description">相传炎帝牛首人身，他亲尝百草，发展用草药治病；他发明刀耕火种创造了两种翻土农具，教民垦荒种植粮食作物；他还领导部落人民制造出了饮食用的陶器和炊具。</p>

            </div>

            <a href="#" target="_blank" class="details">more<i class="fa fa-angle-right"></i></a> </div><div class="teamitem"> <a href="#"><img src="/static/images/1-1F5041301570-L.png" width="320" height="320" />

            <div class="wrap">

              <div> <span class="h"></span> <span class="v"></span> </div>

            </div>

            </a>

            <div class="teaminfo">

              <p class="title"><a href="#">华佗</a></p>

              <p class="subtitle">神医</p>

              <p class="description">华佗经过数十年的医疗实践，熟练地掌握了养生、方药、针灸和手术等治疗手段，精通内、外、妇、儿各科，临证施治，诊断精确，方法简捷，疗效神速，被誉为“神医”。 </p>

            </div>

            <a href="#" target="_blank" class="details">more<i class="fa fa-angle-right"></i></a> </div><div class="teamitem"> <a href="/a/team/3.html"><img src="/static/images/1-1F5041253290-L.png" width="320" height="320" />

            <div class="wrap">

              <div> <span class="h"></span> <span class="v"></span> </div>

            </div>

            </a>

            <div class="teaminfo">

              <p class="title"><a href="#">杨永信</a></p>

              <p class="subtitle">雷电法王</p>

              <p class="description">杨永信，1962年6月山东省出生于临沂市河东区，临沂市第四人民医院副院长，临沂市网络成瘾戒治中心（简称临沂网戒中心）主任，本科学历，学士学位，被称为“全国戒网瘾专家”。 </p>

            </div>

            <a href="#" target="_blank" class="details">more<i class="fa fa-angle-right"></i></a> </div>

        </div>

        <div class="clear"></div>

      </div>

      <div class="pagess">

        <ul>

         <li><span class="pageinfo">共 <strong>1</strong>页<strong>4</strong>条记录</span></li>



        </ul>

        </div>

    </div>

  </div>

</div>

<div id="footer">



</div>

</body>

</html>